@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;400&display=swap");

/* 
https://coolors.co/464545-2f2f2f-1b1b1b-f54703-ff7518

l gray: #f8f9fa

*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif; /* Body text */
  height: 100vh;
  width: 100vw;
  background-color: #f8f9fa;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #464545;
  background: linear-gradient(145deg, #eaeaea, #464545);
}

h1,
h2,
h3,
.name {
  font-family: "Montserrat", sans-serif; /* Headings and name*/
  font-weight: 600;
  margin: 0;
}

main {
  background-color: #f5f5f5;
  width: 98vw;
  height: 98vh;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1.6fr;
  padding: 2rem;
  gap: 1rem;
  border-radius: 1rem;
}

/* Grid items repartition layout */

.main-resume-data {
  grid-column: 1/4;
  grid-row: 1/3;

  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1;
  gap: 3rem;
  padding: 2rem 10rem;

  transition: 0.1s;
}

.main-resume-data:hover,
.tech-stack-div:hover {
  background-color: #eaeaea;
  border-radius: 1rem;
}

.projects-section:hover {
  background-color: #eec422;
}

.profile-photo {
  width: 100%;
  padding: 1rem;
  margin: auto;
  width: 400px;
  grid-column: 1/2;
  border-radius: 100%;
  /* background-color: ; */
}

.div-data {
  grid-column: 2/ 5;
  grid-row: 1/2;
  margin: auto;
  padding: 1.5rem;
}

.tech-stack-div {
  height: 80%;
  width: 100%;
  grid-column: 1/2;
  grid-row: 3/4;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20px 1fr 1fr 1fr;
  gap: 0.5rem;
  padding: 1rem;

  transition: 0.1s;
}

/* tech-stack-div inside */

.color-div {
  grid-column: 1/4;
  background-color: #dee2e6;
  border-radius: 0.5rem;
  transition: 1.2s;
}

.color-div:hover {
  grid-column: 1/4;
  background-color: #464545;
}

li {
  list-style: none;
  margin: auto;

  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-family: "JetBrains Mono", serif;

  transition: 0.1s ease-in;
}

li:hover {
  padding: 1rem 6rem;
}

.cypress {
  background: linear-gradient(95deg, #4a55e2, #7b45cb);
  grid-column: 1/3;
  color: #f5f5f5;
}

.javascript {
  grid-column: 1/3;
  background-color: #f8e100;
}

.css,
.postman {
  background-color: #eec422;
}

.html {
  background-color: #d55302;
}

/* main resume data inside */
.name {
  font-size: 5rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 4rem;
}

.div-data h1 span {
  color: #f54703;
}

hr {
  margin: 2rem auto;
  width: 100%;
  border: 0;
  border-top: 3px solid #464545;
}

.icons-button {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 100%;
  background-color: #eec422;

  transition: 0.23s;
}

.icons-button:hover {
  width: 18rem;
  height: 3rem;
  border: none;
  border-radius: 2rem;

  margin-right: 2rem;
}

.icons-button i {
  font-size: 2rem;
  color: #464545;
}

/* Projects */

.projects-section {
  border: 1px solid #c3c3c3;
  grid-column: 2/ -1;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px 1fr;

  transition: 0.2s;
}

.projects-text {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-family: "JetBrains Mono", serif;
}

.project-eg-div {
  grid-row: 2/3;
  margin: auto;
  border-radius: 0.5rem;
  width: 95%;
  height: 95%;
  background-color: #eaeaea;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-eg-div img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.project-eg-div h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.project-eg-div .icons {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.icons-button-project {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 100%;
  background-color: #eec422;

  transition: 0.23s;
}

.icons-button-project i {
  font-size: 1.8rem;
  color: #464545;
}

.icons-button-view {
  width: 12rem;
  height: 2.5rem;
  font-family: "JetBrains Mono", serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.03rem;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-left: 1rem;
  border: none;
  border-radius: 1rem;
  color: #464545;
  background-color: #eec422;
}

.icons-button-view i {
  font-size: 1.5rem;
}

@media screen and (max-width: 1500px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 0.8fr 0.5fr 2.4fr;
    gap: 2rem;
  }

  .tech-stack-div {
    grid-column: 1/-1;
    display: flex;

    width: 100%;
    margin: 1.5rem auto;
  }

  .color-div {
    width: 0;
  }

  .javascript {
    grid-column: 3 / 4;
    background-color: #f8e100;
  }

  .projects-section {
    grid-column: 1 / -1;
  }

  .profile-photo {
    width: 330px;
  }

  .name {
    font-size: 3rem;
  }

  .div-data h1 {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 1100px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 0.3fr 2.5fr;
  }

  .tech-stack-div {
    grid-column: 1/-1;
    display: flex;

    width: 100%;
    margin: 1.5rem auto;
  }

  .projects-section {
    border: none;
    grid-column: 1 / -1;
    grid-row: 4 / -1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 1.2fr;
  }

  .projects-text {
    grid-column: 1 / -1;
  }

  .projects-section h3 {
    font-size: 1.5rem;
  }

  .projects-section p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 700px) {
  main {
    height: 100%;
    width: 98%;
    display: flex;
    flex-direction: column;
  }

  .main-resume-data {
    height: 480px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 0.5rem;
  }

  .tech-stack-div {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 1.5rem auto;
  }

  .profile-photo {
    padding: 0rem;
    width: 230px;
  }

  .name {
    font-size: 2rem;
  }

  h1 {
    text-align: center;
  }

  .div-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .div-data h1 {
    font-size: 2rem;
  }

  li {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-family: "JetBrains Mono", serif;
  }

  .projects-section {
    display: none;
  }
}
